---
# Extension ignores
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.pyc

# Directory (contents) ignores
deps
.cloud
.storage
.HA_VERSION
tts
notebooks
www/inside
www/community
www/github

#custom_components
/glances
/node-red
.Trash-0

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!packages
!group
!components
!docs
!*.jpg
!*.png
!*.PNG
!.stubs/secrets.yaml
# Ignore folders

#igrnore files
.google.token
.www
.vscode
.theia
.ios.conf
.homekit.state
.spotify-token-cache
.uuid
core
aircast.xml
harmony_living.conf
plex.conf

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
/secrets.yaml
/esphome/secrets.yaml
/esphome/includes/secrets.yaml
known_devices.yaml

# Json files
.sonoff.json
.ps4-game*.json


# Created by https://www.gitignore.io/api/macos
# Edit at https://www.gitignore.io/?templates=macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos
